body {
    background: url(/images/throneroom.jpg);
    background-size: cover; 
}
.dialogue_box {
    min-width: 100px;
    min-height: 200px;
    max-width: 380px;
    background: rgba(255,230,230,.85);
    color: black;
    display: flex;
	font-family: 'VT323', monospace;
	flex-wrap: wrap;
    font-size: 16px;
  	flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 800px;
    margin-right: 0	px;
    padding-left: 30px;
    box-shadow: 15px 15px 10px #282929;
    border: 4px dashed #001f35;
    border-radius: 25px;

}
.textbox, #typewriter {
	display: flex;
	align-self: flex-start;
	max-width: 100%;
    max-height: 200px;
    margin: auto;
    margin-left: 30px;

}

.portrait img {
	display:flex;
	max-width: 200px;
    max-height: 200px;
    color: white;
    align-self: left;
    margin-top: 10px;
}

.wolf {
	margin-left: 34%;
	margin-top:-200px;
	position: fixed;
  width: 365px;
  height: 333px;
  background: url('/images/boss.png') left center;
  animation: play 1.0s steps(8) infinite;
 z-index: 5;
  
}

button {
	background-color: #D4AF6A;

}
button.continue{
	border-radius:8px;
	font-size: 40px;
	color: #553700;
}

button:hover {
	background-color: #FFE1AA;
}

.container {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-left: 780px;
}
.blackhole {
	margin-left: 10%;
	height: 400px;
	margin-top: -200px;
	
}
/*.knight {
    position: fixed;
    top: 350px;
    right: 830px;
    opacity: 1;
    width: 250px;
    height: 200px;
    z-index: -1;
      background: url('/images/knightdead.png') left center;
      animation:  play 0.8s steps(6) infinite;
      animation-fill-mode: forwards;
    
}*/
 

* { color:black; text-decoration: none;}
@keyframes play {
   100% { background-position: -2923px; }
}

