body {
    background: url(/images/throneroom.jpeg) no-repeat center center fixed;
    background-size: cover;
   background-position: 200 -200px; 
}
.dialogue_box {
    min-width: 500px;
    min-height: 200px;
    max-height: 200px;
    background: rgba(255,230,230,.85);
    color: black;
    display: flex;
    font-family: 'VT323', monospace;
    flex-wrap: wrap;
    font-size: 16px;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 30px;
    box-shadow: 15px 15px 10px #282929;
    border: 4px dashed #001f35;
    border-radius: 25px;

}

.textbox {
display: flex;
    align-self: flex-start;
    max-width: 100%;
    max-height: 200px;
    margin: auto;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    padding-right: 40px;


}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}





 
img.bard{
	
	position: fixed;
	top: 480px;
	padding-left:170px;
	opacity: 1;
	display: block;
	width: 100px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

@keyframes poop-dance {
  from, 49% { transform-origin: -50% 100%; }
  50%, 75%, to { transform-origin: 150% 100%; }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
}

.bard {
	animation: poop-dance .95s infinite alternate ease-in-out;
}

.bard {
	display: inline-block;
}
/*
.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 
 */
@-webkit-keyframes bounce {
  0%,  20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* #animated-example {
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 100px;
    left: 100px;
    border-radius: 50%;
} */

img.animate{
	position: fixed;
	top: 490px;
	/* padding- */right:190px;
	opacity: 1;
	display: block;
	width: 145px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounces {
  0%,  20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounces { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounces { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}


img.orc{
	position: fixed;
	top: 510px;
	/* padding- */right:30px;
	opacity: 1;
	display: block;
	width: 130px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}
@keyframes poop-dance {
  from, 49% { transform-origin: -50% 100%; }
  50%, 75%, to { transform-origin: 150% 100%; }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
}

.orc {
	animation: poop-dance .9s infinite alternate ease-in-out;
}

.orc {
	display: inline-block;
}
/* .orc {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%,  20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
} */

img.mage{
	position: fixed;
	top: 525px;
	/* padding- */left:30px;
	opacity: 1;
	display: block;
	width: 130px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.mage {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%,  20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

img.archer{
	position: fixed;
	top: 520px;
	/* padding- */left:290px;
	opacity: 1;
	display: block;
	width: 110px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.archer {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%,  20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

img.bandit{
	position: fixed;
	top: 515px;
	/* padding- */left:430px;
	opacity: 1;
	display: block;
	width: 130px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

img.wizard{
	position: fixed;
	top: 515px;
	/* padding- */right:380px;
	opacity: 1;
	display: block;
	width: 130px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

img.knight{
	position: fixed;
	top: 510px;
	/* padding- */right:590px;
	opacity: 1;
	display: block;
	width: 130px;
	height: 150px;
	transition: .5s ease;
	backface-visibility: hidden;
}

/* .confetti
{
width: 10px;
height: 10px;
margin-top: -100px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
position:relative;
animation:confetti 6s;
-webkit-animation:confetti 6s;
animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite; Safari and Chrome
}
@keyframes confetti
{
0% {top:0px;}
100% {top:1500px;}
}
@-webkit-keyframes confetti Safari and Chrome
{
0% {top:0px;}
100% {top:1500px;}
}
.confetti1, .confetti2, .confetti3, .confetti4 {
background-color: #a4b1a5;
}
.confetti1, .confetti12, .confetti22, .confetti27{
animation-delay:1s;
-webkit-animation-delay:1s;
}
.confetti1 {
margin-left: 50px;
}
.confetti2 {
margin-left: 300px;
}
.confetti3, .confetti6, .confetti20, .confetti30{
animation-delay:1.5s;
-webkit-animation-delay:1.5s;
}
.confetti3 {
margin-left: 800px;
}
.confetti4, .confetti31{
margin-left: 600px;
animation-delay:3s;
-webkit-animation-delay:3s;
}
.confetti5, .confetti6, .confetti7 {
background-color: #fbfcfa;
}
.confetti5 {
margin-left: 700px;
}
.confetti6 {
margin-left: 200px;
}
.confetti7, .confetti8, .confetti23,  .confetti28{
animation-delay:4.5s;
-webkit-animation-delay:4.5s;
}
.confetti17 {
margin-left: 100px;
}
.confetti8, .confetti9, .confetti10, .confetti11 {
background-color: #5e625c;
}
.confetti8 {
margin-left: 200px;
}
.confetti9 {
margin-left: 900px;
}
.confetti10, .confetti14, .confetti18, .confetti24, .confetti29{
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
}
.confetti10 {
margin-left: 550px;
}
.confetti11 {
margin-left: 350;
animation-delay:2s;
-webkit-animation-delay:2s;
}
.confetti12, .confetti13, .confetti14 {
background-color: #f5d44d;
}
.confetti12 {
margin-left: 350;
}
.confetti13, .confetti32{
margin-left: 620;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti14 {
margin-left: 570;
}
.confetti15, .confetti16, .confetti17, .confetti18, .confetti33{
background-color: #e44301;
}
.confetti15 {
margin-left: 650px;
}
.confetti16, .confetti33{
margin-left: 100px;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti17, .confetti21, .confetti26{
animation-delay:.5s;
-webkit-animation-delay:.5s;
}
.confetti17 {
margin-left: 250px;
}
.confetti18 {
margin-left: 450px;
}
.confetti19, .confetti20, .confetti21, .confetti32{
background-color: #a9954d;
}
.confetti19 {
margin-left: 450px;
}
.confetti20 {
margin-left: 6200px;
}
.confetti21 {
margin-left: 570px;
}
.confetti27, .confetti28, .confetti29 {
background-color: #a9954d;
}
.confetti27 {
margin-right: 50px;
}
.confetti28 {
margin-right: 100px;
}
.confetti29 {
margin-right: 75px;
}

.confetti22, .confetti23, .confetti24 {
background-color: #a4b1a5;
}
.confetti22 {
margin-right: 450px;
}
.confetti23 {
margin-right: 250px;
}
.confetti24 {
margin-right: 200px;
}

.confetti25, .confetti26, .confetti30 {
background-color: #f5d44d;
}
.confetti22 {
margin-right: 450px;
}
.confetti23 {
margin-right: 350px;
}
.confetti24 {
margin-right: 200px;
}

.confetti32 {
margin-right: 200px;
}

.confetti31 {
margin-right: 100px;
}

.confetti33 {
margin-right: 150px;
} */






