body {
    background: url(/images/city.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: 200 -200px;
}
.dialogue_box {
    min-width: 500px;
    min-height: 200px;
    max-height: 200px;
    background: rgba(255,230,230,.85);
    color: black;
    display: flex;
    font-family: 'VT323', monospace;
    flex-wrap: wrap;
    font-size: 16px;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 30px;
    box-shadow: 15px 15px 10px #282929;
    border: 4px dashed #001f35;
    border-radius: 25px;

}

.textbox {
display: flex;
    align-self: flex-start;
    max-width: 100%;
    max-height: 200px;
    margin: auto;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    padding-right: 40px;


}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

button {
	background-color: #D4AF6A;
}

button.continue {
	border-radius: 8px;
	font-size: 40px;
	color: #553700;
}

button:hover {
	background-color: #FFE1AA;
}

.container {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin: 30px auto;
	
}

a {
	text-decoration: none;
}

/* @keyframes runKnight {
	0% {left: 50%; }
	100% {left: 100%;}	
}

.knight {
	position: fixed;
	animation: 5s runKnight forwards 7s;
	left: 50%;
}
 */
.knight {
    position: fixed;
    top: 490px;
    left: 50%;
    opacity: 1;
    display: block;
    width: 150px;
    height: 150px; 
    transition: .5s ease;
    backface-visibility: hidden;	
	
}  

.blue {
    position: fixed;
    top: 515px;
    left: 415px;
    opacity: 1;
    display: block;
    width: 150px;
    height: 150px; 
    
    /* transition: .5s ease; */
    backface-visibility: hidden;	
	
}  

 .green {
    position: fixed;
    top: 100px;
    left: 0px;
    opacity: 1;
    display: block;
    width: 150px;
    height: 150px; 
   /*  transition: .5s ease; */
    backface-visibility: hidden;	
	 
}   

.fourarmed {
    position: fixed;
    top: 475px;
    left: 175px;
    opacity: 1;
    display: block;
    width: 150px;
    height: 150px; 
    /* transition: .5s ease; */
    backface-visibility: hidden;	
	
}  

.winged {
    position: fixed;
    top: 75px;
    right: 75px;
    opacity: 1;
    display: block;
    width: 150px;
    height: 150px; 
    /* transition: .5s ease; */
    backface-visibility: hidden;	
	
}  