body {
	background-image: url("../images/Countryside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 1370px 680px; 
}

.dialogue_box {
    min-width: 400px;
    min-height: 200px;
    background: rgba(255,230,230,.85);
    color: black;
    display: flex;
	font-family: 'VT323', monospace;
	flex-wrap: wrap;
    font-size: 16px;
  	flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 275px;
    margin-right: 275px;
    padding-left: 30px;
    box-shadow: 15px 15px 10px #282929;
    border: 4px dashed #001f35;
    border-radius: 25px;
    z-index: -1;

}

.textbox {
display: flex;
    align-self: flex-start;
    max-width: 100%;
    max-height: 200px;
    margin: auto;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    padding-right: 40px;

}

button {
	background-color: #D4AF6A;

}
button.continue{
	border-radius:8px;
	font-size: 40px;
	color: #553700;
}

button:hover {
	background-color: #FFE1AA;
}

.container {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-left: 00px;


}
#bandit {
	margin-top: 110px;
	margin-left: 500px;
}

#knight { 
	transform: scaleX(-1);
	margin-left: 1000px;
	margin-top: -70px;
}