body { 
  background: url(/images/CastleHomePage.jpg) no-repeat center center; 
	background-size: 100%;
  background-position: 0px 4px;
}

.container {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin-top: 500px;
}

button {
	background-color: #ff8c1a;
	border-radius: 12px;
}

button:hover {
	background-color: #f2f4f3;
}

.flag1 {
    position: fixed;
    top: 156px;
    right: 578px;
    opacity: 1;
    width: 78px;
    height: 83px;
    z-index: -1;
      background: url('/images/flaganimation.png') left center;
      animation:  play 0.7s steps(6) infinite;
      animation-fill-mode: forwards;
      
    
}

@keyframes play {
  100% { background-position: -1622px; }
 }