<!DOCTYPE html>
<html>
<head>
<title>THE CASTLE</title>
<link rel="stylesheet" type="text/css" href="CSS/castlePage.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>
</head>
<body>

	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="2" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				Welcome to my world ! Won't you come on in?Knock and the door will
				open. Seek and you will find. Ask and you'll be given the key to
				this castle if you defeat the Boss. <span class="wrap"></span>
			</marquee>
		</div>
	</div>
	<div class="container">
		<a href="/Boss.html"><button class="continue">Continue</button></a>
	</div>
	<div>
		<img th:src="@{/images/Knight.svg}" class="knight"></img> <img
			th:src="@{/images/Wizard.svg}" class="wizard"></img> <img
			th:src="@{/images/bandit.png}" class="bandit"></img>
	</div>
<audio th:autoplay="autoplay">
    <source src="Visager_-_18_-_Dark_Sanctum_Boss_Fight_Loop.mp3" type="audio/mpeg"></source>
</audio>
</body>
</html>