<!DOCTYPE html>
<html>
<head>
    <title>Celebration</title>
    <link rel="stylesheet" type="text/css" href="CSS/celebration.css"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link> 
</head>
<body>

<div class="dialogue_box">                                          
   		<div class="textbox">                

   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

   			 The evil necromancer has been vanquished. The monsters have been sent back through the portal. All the villagers are celebrating the knights victory over the evil necromancer! 
   			 <span class="wrap"></span>
 			 </marquee>
 			  			
	  
   	 </div>
   
</div>
<div class="container">
		<img src="/images/bard.png" class="bard"></img>
</div>

<div class="container2">
		<img src="/images/warrior-left.png" class="animate bounces"></img>
</div>

<div class="container3">
		<img src="/images/orc.png" class="orc"></img>
</div>

<div class="container4">
		<img src="/images/mage.png" class="mage bounce"></img>
</div>

<div class="container5">
		<img src="/images/archer.png" class="archer bounce"></img>
</div>

<div class="container6">
		<img src="/images/bandit.png" class="bandit"></img>
</div>

<div class="container7">
		<img src="/images/Wizard-Left.png" class="wizard"></img>
</div>


<div class="container8">
		<img src="/images/knight.png" class="knight"></img>
</div>
<!-- 
<div class="confetti confetti1"></div>
<div class="confetti confetti2"></div>
<div class="confetti confetti3"></div>
<div class="confetti confetti4"></div>
<div class="confetti confetti5"></div>
<div class="confetti confetti6"></div>
<div class="confetti confetti7"></div>
<div class="confetti confetti8"></div>
<div class="confetti confetti9"></div>
<div class="confetti confetti10"></div>
<div class="confetti confetti11"></div>
<div class="confetti confetti12"></div>
<div class="confetti confetti13"></div>
<div class="confetti confetti14"></div>
<div class="confetti confetti15"></div>
<div class="confetti confetti16"></div>
<div class="confetti confetti17"></div>
<div class="confetti confetti18"></div>
<div class="confetti confetti19"></div>
<div class="confetti confetti20"></div>
<div class="confetti confetti21"></div>
<div class="confetti confetti22"></div>
<div class="confetti confetti23"></div>
<div class="confetti confetti24"></div>
<div class="confetti confetti25"></div>
<div class="confetti confetti26"></div>
<div class="confetti confetti27"></div>
<div class="confetti confetti28"></div>
<div class="confetti confetti29"></div>
<div class="confetti confetti30"></div>
<div class="confetti confetti31"></div>
<div class="confetti confetti32"></div>
<div class="confetti confetti33"></div>

<div></div> -->

</body>
</html>