<!DOCTYPE html>
<html>
<head>
    <title>Celebration</title>
    <link rel="stylesheet" type="text/css" href="CSS/celebration.css"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link> 
</head>
<body>

<div class="dialogue_box">                                          
   		<div class="textbox">                

   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

   			 The evil necromancer has been vanquished. The monsters have been sent back through the portal. All the villagers are celebrating the victory over the evil necromancer! There are no limits to what programmers can do with their coding skills! 
   			 <span class="wrap"></span>
 			 </marquee>
 			  			
	  
   	 </div>
   
</div>
<div class="container">
		<img src="/images/bard.png" class="bard"></img>
</div>

<div class="container2">
		<img src="/images/warrior-left.png" class="leftwarrior bounces"></img>
</div>

<div class="container3">
		<img src="/images/orc.png" class="orc"></img>
</div>

<div class="container4">
		<img src="/images/mage.png" class="mage bounce"></img>
</div>

<div class="container5">
		<img src="/images/archer.png" class="archer bounce"></img>
</div>

<div class="container6">
		<img src="/images/bandit.png" class="bandit"></img>
</div>

<div class="container7">
		<img src="/images/Wizard-Left.png" class="wizard"></img>
</div>


<div class="container8">
		<img src="/images/knight.png" class="knight"></img>
</div>


</body>
</html>