<!DOCTYPE html>
<html>
<head>
<title>City Event A Stall</title>
<link rel="stylesheet" type="text/css" href="CSS/cityEventAstall.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>
</head>
<body>

	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				You have chosen to stall and wait for help. Good choice since your
				friends from the countryside have show up to help you defeat the
				monsters! <span class="wrap"></span>
			</marquee>


		</div>

	</div>
	<div class="knight">
		<img src="/images/Knight.png" class="knight1"></img>
	</div>
	<div class="wizard">
		<img src="/images/Wizard.png" class="wizard1"></img>
	</div>
	<div class="bandit">
		<img src="/images/bandit.png" class="bandit1"></img>
	</div>
	<div class="monster">
		<img src="/images/monster1.png" class="monster1"></img>
	</div>

	<div class="monster">
		<img src="/images/monster2.png" class="monster2"></img>
	</div>
	<div class="monster">
		<img src="/images/monster3flip.png" class="monster3"></img>
	</div>
	<div class="monster">
		<img src="/images/monster4.png" class="monster4"></img>
	</div>
	<div class="monster">
		<img src="/images/monster5.png" class="monster5"></img>
	</div>

	<div class="container">
		<a href="/castlePage"><button class="continue">Continue</button></a>
	</div>
	<audio th:autoplay="autoplay">
    <source src="Visager_-_15_-_Pyramid_Level_Loop.mp3" type="audio/mpeg"></source>
</audio>	
</body>
</html>