<!DOCTYPE html>
<html>
<head>
    <title>City Entrance</title>
    <link rel="stylesheet" type="text/css" href="CSS/citySetting.css"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link> 
</head>
<body>

<div class="dialogue_box">                                          
   		<div class="textbox">                

   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

   			 Brave knight ventures into the city to fight the evil that is plaguing the country. He does not know what awaits him but is prepared to do what must be done to save his town!
   			 <span class="wrap"></span>
 			 </marquee>
 			  			
	  
   	 </div>
   
</div>

</body>
</html>