<!DOCTYPE html>
<html>
<head>
<title>Forest Camp</title>
<link rel="stylesheet" type="text/css" href="CSS/cityEventAstall.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>
</head>
<body>

	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				You have choosen to stall and wait for help. Good choice since your friends from the
				countryside have show up to help you defeat the monsters! <span
					class="wrap"></span>
			</marquee>


		</div>

	</div>
	<div class="hero">
		<img src="/images/Knight.png" class="hero1"></img>
	</div>
	<div class="hero">
		<img src="/images/Wizard.png" class="wizard"></img>
	</div>
		<div class="hero">
		<img src="/images/bandit.png" class="bandit"></img>
	</div>

	<!-- <div class="container"> -->
	<button class="continue">Continue</button>
	<!-- </div> -->
</body>
</html>