<!DOCTYPE html>
<html>
<head>
    <title>THE CITY</title>
    <link rel="stylesheet" type="text/css" href="CSS/cityDialogue.css"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link> 
</head>
<body>

<div class="dialogue_box">                                          
   		<div class="textbox">                

   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

It's getting close to midnight and there is evil lurking in the dark. Under the moonlight, you see a sight that almost stops your heart. 
No one's going save you from the beasts about to strike. The creatures crawl in search of blood to terrorize your neighborhood, and 
whosoever shall be found without the soul for getting down, must stand and face the hounds of hell and rot inside a corpse's shell.
   			 <span class="wrap"></span>
 			 </marquee></div>
 			 
  <button class = "continue">Continue</button>	  
  
  <div>
  <img th:src="@{/images/monster1.png}" class="blue"></img>
 
 </div>
 
  <div>
  <img th:src="@{/images/monster2.png}" class="green"></img>
 
 </div>
 
  <div>
  <img th:src="@{/images/monster3.png}" class="fourarmed"></img>
 
 </div>
 
 <div class= "knight">
 
  <img th:src="@{/images/Knight.png}" class="knight"></img>
  
 </div>
   	
   
</div>
</body>
</html>