<!DOCTYPE html>
<html>
<head>
<title>Forest Setting</title>
<link href="CSS/countrysideSettingStyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
</head>
<body>
	<div class="dialogue_box">                                          
	   		<div class="textbox">                
	
	   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">
	
	   			 Erring on the side of caution, the hero sets out to reach the Great City by taking the long and winding road through the countryside. Appearances are deceiving, however, and the scenic route has dangers of its own. Lone travelers make for an easy target...
	   			 <span class="wrap"></span>
	 			 </marquee>
	 			  			
		  
	   	 </div>
	</div>

	<div class="continue">
		<a class="continueAnchor" href="/forestEventA"><button>Continue</button></a>
	</div>

</body>
</html>