<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/destination.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
<title>Countryside: A Traveler Approaches</title>
</head>
<body>

	<div class="menuContainer">
		<div class="column">
			<div class="card">
				<img id="forest" src="/images/bush.png" alt="hide"
					style="width: 100%"></img>
				<div class="container">
					<h2>Hide in the brush</h2>
					<a href="/countrysideEventAhide"><button class="button">Try not to be seen!</button></a>
					<br> </br>
					<!-- Trigger/Open The Modal -->
					<button id="myBtn">Village Elder Advice</button>

					<!-- The Modal -->
					<div id="myModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p>An abundance of caution may keep you safe, but nothing ventured is nothing gained.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="menuContainer">
		<div class="column">
			<div class="card">
				<img id="forest" src="/images/Countryside.jpg" alt="approach"
					style="width: 100%"></img>
				<div class="container">
					<h2>Approach the traveler</h2>
					<a href="/countrysideEventAapproach"><button class="button">Continue on your path</button></a>
					<br> </br>
					<!-- Trigger/Open The Modal -->
					<button id="myBtn2">Village Elder Advice</button>

					<!-- The Modal -->
					<div id="myModal2" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p>Friend, foe, or simply a fellow traveler? There is only one way to find out.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- <audio src="Visager_-_18_-_Dark_Sanctum_Boss_Fight_Loop.mp3" autoplay loop></audio> -->
	<script th:inline="javascript"></script>
	<script src="/Javascript/modal.js"></script>
</body>
</html>