<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/destination.css"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link>

<title>Destination Page</title>
</head>
<body>
	<!-- <div class="dialogue_box">                                          
                         
   <div class="textbox">                      
       
    
        
    </div>
</div> -->
	<div class="menuContainer">
		<div class="column">
			<div class="card">
				<img id="forest" src="/images/Forest.jpg" alt="Mike"
					style="width: 100%"></img>
				<div class="container">
					<h2>Forest</h2>
					<p>Choose the forest to quickly journey to the city, but beware
						the creatures that lurk.</p>
					<p>
						<button class="button">Contact</button>
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img id="countryside" src="/images/Countryside.jpg" alt="Mike"
					style="width: 100%"></img>
				<div class="container">
					<h2>Country Road</h2>
					<p>Choose the countryside, but beware the thieves lying in wait
						to rob travelers.</p>
					<p>
						<button class="button">Contact</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>