<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="dialogue.css"></link>

 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 
</head>
<body>

<div class="dialogue_box">                                          
   		<div class="textbox">                

   			 <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

   			 Word is ringing out from the Great City that an ominous gate has appeared in the center of the city. As people gathered to marvel, a single figure stepped forth from the gate. Cloaked and forboding, he declared the world would end in seven days....

         In a small village outside the city, a village elder gathers everyone together to share the grim news. While he seems resigned to their fate, there is one villager who is not...

         Word is ringing out from the Great City that an ominous gate has appeared in the center of the city. As people gathered to marvel, a single figure stepped forth from the gate. Cloaked and forboding, he declared the world would end in seven days....

         In a small village outside the city, a village elder gathers everyone together to share the grim news. While he seems resigned to their fate, there is one villager who is not...
   			 <span class="wrap"></span>
 			 </marquee>
 			  			
   	 <audio src="Visager_-_02_-_Castle_Theme2.mp3" autoplay loop></audio> 
	  
   	 </div>
   
</div>
</body>
</html>