<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/CSS/ForestEventB.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet">
</link>
<title>Forest Event A</title>
</head>
<body>

	<div class="menuContainer">
		<div class="column">
			<div class="card">
				<img id="forest" src="/images/FightWolf.jpg" alt="fightwolf"
					style="width: 100%"></img>
				<div class="container">
					<h2>Fight</h2>
					<button class="button">Stay and fight the wolf!</button>
					<br> </br>
					<!-- Trigger/Open The Modal -->
					<button id="myBtn">Elder Secret</button>

					<!-- The Modal -->
					<div id="myModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p>Camping overnight will take time away from your quest but it is the
							safer option. But then again, things do go bump in the night...</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="menuContainer">
		<div class="column">
			<div class="card">
				<img id="forest" src="/images/FleeWolf.jpg" alt="fleewolf"
					style="width: 100%"></img>
				<div class="container">
					<h2>Flee</h2>
					<button class="button">Run away from the fight</button>
					<br> </br>
					<!-- Trigger/Open The Modal -->
					<button id="myBtn2">Elder Secret</button>

					<!-- The Modal -->
					<div id="myModal2" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p>You will save more time pushing ahead through the night. Have your guard up
							though. You never know what you may encounter...</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- <audio src="Visager_-_18_-_Dark_Sanctum_Boss_Fight_Loop.mp3" autoplay loop></audio> -->
	<script th:inline="javascript"></script>
	<script src="/Javascript/modal.js"></script>
</body>
</html>