<!DOCTYPE html>
<html>
<head>
<title>Forest Push</title>
<link rel="stylesheet" type="text/css" href="CSS/forestEventApush.css"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>
</head>
<body>

	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				You have chosen to push through the forest. Good choice because of
				your looming deadline. Make sure to keep your guard up in case you
				come across anything that goes bump in the night. 
				<br></br>
				<br></br>
				<br></br>
				You suddenly hear
				rustling coming from the dense forest. But where OR who is it coming
				from... <span class="wrap"></span>
			</marquee>


		</div>

	</div>

	<div class="container">
		<a th:href="@{/wolf}"><button class="continue">Continue</button></a>
	</div>
	<div class="hero">
		<img th:src="@{/images/Knight.svg}" class="image" style="width: 88%"></img>
	</div>

</body>
</html>