<!DOCTYPE html>
<html>
<head>
<title>FOREST EVENT B FLEE</title>
<link rel="stylesheet" type="text/css" href="CSS/forestEventBflee.css"></link>

<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>
</head>
<body>

	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				Fight or flee. I vote for flee. There's no way I am going to tangle
				with him! Where there is one wolf there are sure to be more. <span
					class="wrap"></span>
			</marquee>


		</div>

	</div>
	<div>
		<img th:src="@{/images/wolfrightsmall_360.png}" class="image"></img>

	</div>

	<div class="knight">

		<img th:src="@{/images/Knight.png}" class="image1"></img>

	</div>
	<button class="continue">Continue</button>
	<script src="/JS/forestEventBflee.js"></script>





</body>
</html>