<!DOCTYPE html>
<html>
<head>
<title>Forest Setting</title>
<link href="CSS/forestSetting.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet" />
</head>
<body>
	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="0">

				An ancient forest obscures the shortest route from the village to
				the Great City. Some light penetrates the dense canopy during the
				daylight hours, but the towering trees and tangled underbrush hide
				many dangers once the sun sets. As night approaches you must decide what to
				do... <span class="wrap"></span>
			</marquee>


		</div>
	</div>
	<div class="container">
		<a th:href="@{/forestEventA}"><button class="continue">Continue</button></a>
	</div>
	<div class="hero">
		<img th:src="@{/images/Knight.svg}" class="image" style="width: 88%"></img>
	</div>
</body>
</html>