<!DOCTYPE html>
<html>
<head>
	<title>Start Page</title>
	<link rel="stylesheet" type="text/css" href="CSS/homepage.css"></link>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>
<div class="flag1">
</div>
<div class="container">
<a th:href="@{/intro}"><button type="button" class="btn btn-secondary btn-lg">Press START to begin</button></a>
</div>

<!-- <audio src="Visager_-_02_-_Castle_Theme.mp3" autoplay loop></audio> -->

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/Javascript/homepage.js"></script>
<script th:inline="javascript"></script>
</body>
</html>