<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Intro Page</title>
<link href="CSS/introStyle.css" rel="stylesheet"></link>
<link href="dialogue.css" rel="stylesheet"></link>
</head>
<body>
<div class="dialogue_box">                                          
                     
   
   <div class="textbox"> 
       <marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="up" height=".textbox.height" width="dialogue_box.width" scrolldelay="0">                     
    		<p th:each = "current: ${narrator0.dialogues}" th:text= "${current.content}"></p>
     		<span class="wrap"></span>
 		</marquee>
    </div>

   
</div>

<!-- <p th:each = "current: ${narrator.dialogues}" th:text= "${current.content}"></p> -->

<a th:href="@{/chooseCharacter}"><button class = "continue">Continue</button></a>


</body>
</html>