<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Intro Page</title>
<link href="CSS/introStyle.css" rel="stylesheet"></link>
<link href="CSS/textBoxNoPortrait.css" rel="stylesheet"></link>
</head>
<body>
<h2>In a small village outside the city</h2>
<div class="dialogue_box">                                          
                     
<!--    <div class="portrait">
   <img src="elder.png"></img>
   </div> -->
   
   <div class="textbox">                      
    <h4><p th:each = "current: ${narrator.dialogues}" th:text= "${current.content}"></p></h4>
    </div>
   
</div>

<!-- <p th:each = "current: ${narrator.dialogues}" th:text= "${current.content}"></p> -->
<div class="container">
<a th:href="@{/chooseCharacter}"><button class = "continue">Continue</button></a>
</div>

</body>
</html>