<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name Your Character</title>
    <link rel="stylesheet" type="text/css" href="chooseCharacter.css" /> 
    <link href="CSS/textBoxNoPortrait.css" rel="stylesheet"></link>
</head>
<body>
<img th:src="@{/images/CharacterChoice.svg}" class="backgroundImage"></img>
<div class="container">

<div class="dialogue_box">                                          
                     

     
   <div class="textbox">                      
    <p>Test test test test test </p>
    </div>
   
</div>


</div>
</body>
</html>