<!DOCTYPE html>
<html>
<head>
<link href="CSS/StartQuest.css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=VT323"
	rel="stylesheet"></link>

</head>
<body>
	<div class="dialogue_box">
		<div class="textbox">

			<marquee LOOP="1" SCROLLAMOUNT="4" onmouseover="this.stop();"
				onmouseout="this.start();" behavior="scroll" direction="up"
				height=".textbox.height" width="dialogue_box.width" scrolldelay="1">

				Thank you for volunteering to help us in this great time
				of peril! You must head to the city to help save up. You may choose
				the forest path to arrive quicker but danger looms inside. Or you
				can choose the Countryside path which will be safer but you will
				lose time off of our looming deadline. 
				<br></br>
				<br></br>
				Choose wisely... <span
					class="wrap"></span>
			</marquee>


		</div>

	</div>

	<div class="container">
		<img th:src="@{/images/Knight.png}" class="image1" ></img>
		<div class="middle">
			<button class="button">
				<a th:href="@{/destination}">Start Your Quest!</a>
			</button>
		</div>
	</div>


	<script src="textbox.js"></script>
</body>
</html>