<!DOCTYPE html>
<html>
<head>
<link href="CSS/StartQuest.css" rel="stylesheet"></link>
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"></link>

</head>
<body>
<div class="dialogue_box">                                                             
   <div class="textbox">                      
    <h1 th:text="'Hello ' + ${heroName}"> Info about quest and Knight</h1>
    </div>
   
</div>
    <div class="container">
        <img th:src="@{/images/Knight.svg}" class="image" style="width: 100%"></img>
        <div class="middle">
            <button class="button"><a th:href="@{/destination}">Start Your Quest!</a></button>
        </div>
    </div>
</body>
</html>