<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="textboxcss.css">
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 
</head>
<body>

<div class="dialogue_box">                                          
                     
   <div class="portrait">
   <img src="elder.png"></img>
   </div>
   <div class="textbox">                      
    <h1>Welcome to the game.  	</h1>
    </div>
   
</div>


 
</body>
</html>